.page-link.rounded-circle {
    background-color: #FFA500;
    border-color: #FFA500;
    color: white;
    transition: background-color 0.3s, border-color 0.3s;
}

.page-link.rounded-circle:hover {
    background-color: #FF8C00;
    border-color: #FF8C00;
}

.page-item.active .page-link.rounded-circle {
    background-color: #c26d04;
    border-color: #FF8C00;
}