
    <section class="container mt-5">
        <div class="row g-4">
            <article class="col-12 col-md-6 col-lg-3" *ngFor="let user of arrUsers">
              <app-user-card [allUsers]="user"></app-user-card>  
            </article>
        </div>
    </section>
        <footer class=" text-white text-center mt-5 py-3">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link rounded-circle m-2" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item active m-2">
                    <a class="page-link rounded-circle" href="#">1</a>
                </li>
                <li class="page-item m-2">
                    <a class="page-link rounded-circle" href="#">2</a>
                </li>
                <li class="page-item m-2">
                    <a class="page-link rounded-circle" href="#">3</a>
                </li>
                <li class="page-item m-2">
                    <a class="page-link rounded-circle" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </footer>