<section class="container rounded bgcolor">
    <div class="row mt-5">
        <div class="col-12 col-lg-6 border-end border-black border-2 m-3">
            <img class="img-fluid rounded-circle mx-auto p-3 mb-2 shadow-sm" src="{{user?.image}}" alt="UserImg">
        </div>
        <div class="col-12 col-lg-6 m-3">
            <h2 class="title">{{user?.first_name}}</h2>
            <h2 class="title">{{user?.last_name}}</h2>
            <p class="text-body"><strong>Nombre de Usuario:</strong> {{user?.username}}</p>
        </div>
    </div>

</section>